* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nunito-sans {
    font-family: "Nunito Sans", sans-serif;
}

body {
    font-family: "Nunito Sans";
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
}

.header {
    width: 100%;
    display: flex;
    padding: 12px;
    box-shadow: 0 4px 42px 0 rgba(0, 0, 0, 0.2);
}

.header-logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.desktop-menu {
    display: none;
}


@media only screen and (min-width: 767px) {

    .header {
        padding: 24px 60px;
        box-shadow: 0 4px 52px 0 rgba(0, 0, 0, 0.2);
    }

    .header-logo {
        justify-content: flex-start;
    }

}

@media only screen and (min-width: 1020px) {



}

@media only screen and (min-width: 1240px) {
    .hamburger-menu {
        visibility: hidden;
    }

    .header {
        padding: 24px 136px;
        box-shadow: 0 4px 52px 0 rgba(0, 0, 0, 0.2);
    }

    .header-logo {
        width: 30%;
    }

    .desktop-menu {
        display: flex;
        width: 70%;
        justify-content: space-between;
        align-items: center;
    }

    .desktop-menu a {
        color: #868686;
    }

    .desktop-menu a:hover {
        color: black;
    }


}